<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Exame</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Editar Exame</h1>
        <form action="{{ url_for('exame.editar_exame', id=exame[0]) }}" method="POST">
            <div class="form-group">
                <label for="nome_paciente">Nome do Paciente:</label>
                <input type="text" class="form-control" name="nome_paciente" value="{{ exame[1] }}" required>
            </div>

            <div class="form-group">
                <label for="nome">Nome do Exame:</label>
                <input type="text" class="form-control" name="nome" value="{{ exame[2] }}" required>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input type="text" class="form-control" name="descricao" value="{{ exame[3] }}" required>
            </div>

            <div class="form-group">
                <label for="data_hora">Data e Hora:</label>
                <input type="datetime-local" class="form-control" name="data_hora" value="{{ exame[4] }}" required>
            </div>

            <div class="form-group">
                <label for="status">Status:</label>
                <select name="status" class="form-control" required>
                    <option value="Agendado" {% if exame[5] == 'Agendado' %} selected {% endif %}>Agendado</option>
                    <option value="Realizado" {% if exame[5] == 'Realizado' %} selected {% endif %}>Realizado</option>
                    <option value="Cancelado" {% if exame[5] == 'Cancelado' %} selected {% endif %}>Cancelado</option>
                </select>
            </div>

            <div class="form-group">
                <label for="preco">Preço:</label>
                <input type="text" class="form-control" name="preco" value="{{ exame[6] }}" required>
            </div>

            <button type="submit" class="btn btn-warning btn-block">Atualizar Exame</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
