<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Exames</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="fade-in">
    <div class="container">
        <h1>Exames Cadastrados</h1>
        
        <div class="actions">
            <a href="{{ url_for('exame.novo_exame') }}" class="btn">Cadastrar Novo Exame</a>
        </div>

        <div class="table-container">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Nome do Paciente</th>
                        <th>Nome do Exame</th>
                        <th>Descrição</th>
                        <th>Data e Hora</th>
                        <th>Status</th>
                        <th>Preço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exame in exames %}
                    <tr>
                        <td>{{ exame[1] }}</td>
                        <td>{{ exame[2] }}</td>
                        <td>{{ exame[3] }}</td>
                        <td>{{ exame[4] }}</td>
                        <td>{{ exame[5] }}</td>
                        <td>R$ {{ exame[6] }}</td>
                        <td class="btn-group">
                            <a href="{{ url_for('exame.editar_exame', id=exame[0]) }}" class="btn small warning">Editar</a>
                            <a href="{{ url_for('exame.deletar_exame', id=exame[0]) }}" class="btn small danger" onclick="return confirmarExclusao()">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
